/vendor/
/node_modules/
/public/hot
/public/build
/public/storage
/bootstrap/cache/*.php
/storage/*.key
/.env
colegio_sistema.sql
data.sql
/.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
